div.explanation-container {
	width: 60%;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1%;
	border: 1px solid black;
}

h3.explanation-title {
	padding-bottom: 2%;
	font-size: 120%;
}
