img.photo {
	margin: 0 auto;
	width: 80%;
	margin-top: 1%;
	border: 30px solid black;
}

div.photo-section {
	display: flex;
	flex-flow: column wrap;
}

div.photo-text-section-container {
	display: flex;
	justify-content: space-evenly;
	border: 1px solid black;
	margin: 0 auto;
	width: 80%;
}

div.photo-text-section-container div {
	padding: 1%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

div.photo-text-container {
	width: 50%;
	flex-direction: column;
}

div.picture-buttons {
	display: flex;
	flex-flow: row nowrap;
	margin: 0 auto;
	width: 80%;
	justify-content: space-evenly;
}

div.picture-buttons .button {
	color: white;
	background-color: darkblue;
	font-size: 80%;
	height: 5vh;
	width: 100%;
	margin: 1% 0% 1%;
}
